{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": false,
  "include": [
    "packages/**/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register",
    "tsconfig-paths/register"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "sourceMap": false
}
